
                <div class="laptop">
                    <div class="image">
                        <img src="/{%IMAGE%}" alt="{%NAME%}">
                    </div>
                    <div class="laptop_name">{%NAME%}</div>
                    <div class="dicription">
                        <div class="laptop_size"> 💻 {%SIZE%} </div>
                        <div class="laptop_processor"> 🔰 {%PROCESSOR%}</div>
                    </div>
                    <div class="buy_button">
                        <div class="price">{%PRICE%} Birr</div>
                        <a href="/laptop?id={%ID%}" class="checkout">check it out 👉 </a>
                    </div>

                </div>
